package buypage

templ BuyPageForm() {
	<form id="buy-page-form" class="mt-4 flex justify-center">
		<button
			type="submit"
			class="px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
		>
			Buy Now
		</button>
	</form>
}
